@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Parisienne&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cta {
  background: url('~assets/images/cover.jpg') rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}
